*, html{
    padding-inline-start: 0;
    margin: 0;
    box-sizing: 0;
}

h1{
    background-color: white;
    text-align: center;
}

body{
    background-color: rgb(136, 160, 180);
    
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 43, 43);
    align-items: center;
    
}