html{
    background-color: aqua;
    font-family: Georgia;
}

h1{
    font-family: "Comic Sans MS", Comic Sans, cursive;
    font-size: 60px;
    color: darkblue;
    text-align: center;
    
}

a{
    text-decoration: underline;
    font-family: serif;
    font-weight: bold
}

h4{
    text-align: right;
    font-style: italic;

}

.p1{
    text-align: center;
   color : orange;

}